<div class="container-fluid p-3 shadow mt-3">
    <div class="text-end d-grid d-md-block">
        <button type="button" (click)="addUser()" class="btn btn-success">
            <fa-icon [icon]="faAdd"></fa-icon>
            Nuevo
        </button>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let user of listUsers; index as i">
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td class="d-flex">
                        <button type="button" (click)="updateUser(user)" class="btn btn-info me-1">
                            <fa-icon [icon]="faSquarePen"></fa-icon>
                        </button>
                        <button type="button" (click)="deleteUser(i)" class="btn btn-danger ms-1">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>